:root {
  --main-collor: #00acdc;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding-inline: 50px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item ~ .nav__item {
  margin-left: 20px;
}

.nav__link {
  text-decoration: none;
  position: relative;
  display: flex;
  height: 60px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  color: var(--main-collor);
}

.is-active {
  color: var(--main-collor);
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 4px;
  background-color: var(--main-collor);
  border-radius: 8px;
}

.logo {
  display: flex;
  height: 40px;
  width: 40px;
}
