:root {
  --blue: #00acdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
}

header img {
  display: block;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li + li {
  margin-left: 20px;
}

nav a {
  display: inline-flex;
  align-items: center;
  height: 60px;

  text-decoration: none;
  color: black;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--blue);
}

a.is-active {
  position: relative;
  color: var(--blue);
}

a.is-active::after {
  content: '';
  position: absolute;

  width: 37px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;

  left: 0;
  bottom: 0;
}
